body
	background-color: #d4e7ec
	@media screen and (max-width: 768px)
	    background-color: pink
	@media screen and (max-width: 576px)
	    background-color: lightgreen
$color1: rgba(219, 218, 196, 0.7)
$color2: rgba(77, 72, 60, 0.7)
//enter for admin
.container-fluid
	width: 100%
.colorfon
	padding: 0.625em
	background-color: #9b9fa0
.wrap-login_form
	background-color: #cbd0d2
	border: 2px solid #777984
	border-radius: 0.625em
.login_form
	display: flex
	flex-direction: column
	justify-content: center
	padding: 1.25em
.wrap-login-input
	padding: 5px
//the output table
.admin_table
	background-color: #f3f5f7
	border: 2px solid #091140
.admin_table-thead
	border: 2px solid #777984
	background-color: #b4b6c5
.admin_table__cell
	border: 2px solid #777984
    padding: 5px
.admin_menu__cell a
	&:hover
	    padding: 0.625em
.my_href a
	text-decoration: none
    color: white
.my_href a
	&:hover
	    color: white
.admin-btn
	padding: 0.95em 0 0.95em 0
.admin-btn a 
	text-decoration: none
    display: block
.admin-btn a
	&:hover
	color: white
.table-addproduct
	background-color: #f3f5f7
    border: 2px solid #091140
.addproduct_table__cell
	border: 2px solid #091140

//кнопка загрузки картинки


label .login-label
	padding: 50px
    color: green
.login_form-input
	border-radius: 5px
	color: green   
.wrap-login_form-input
	padding: 1.25em
.input_width
	width: 2.45em
    padding: 0
.input_width_2
	width: 1.25em
    padding: 0
.size_area
	width: 360px
    height: 50px
.backgraund
	background-color: #f2bff3
.no_border
	border: 0
td .no_padding
	padding: 0 2px solid #dc2db6
td .border_color
	2px solid #dc2db6
.hidden
	width: 135px
.input_names
	width: 80px
    padding: 0
.input_name_rus
	width: 100px
    padding: 0
//preview before adding a new cheese
.wrap_view-content
	background: url(../images/dest/cheese-2.jpg) no-repeat
    height: 1524px
.view-content
	background-color: $color1
.view-content-title__head
	padding-right: 1.25em
.view-content-title
	padding: 2.2em
.box1-view-content-ihfo
	padding: 2.2em
.styletext
	font-size: 1.5em
.browncolor
	color: #1f1206
.box1-view-content-ihfo-text__value
	padding: 0.625em 0 0.625em 0
.view-content-forma
	padding: 2.45em 0 0 0
.view-content-forma-submit-wrap
	padding: 2.45em 0 0 0
.view-content-forma-input-wrap
	padding: 0.625em 0 0 0
.view-content-forma-input
	padding: 0.625em 0 0.625em 0
    width: 110px
    text-align: center
    font-family: 'Tahoma'
.wrap-box1-view-content-ihfo__description
	background-color: white
    justify-content: center
    padding: 2.45em 0 2.45em 0
.expand
	cursor: pointer
    font-family: Tahoma
    font-size: 1.25em    
.padding-15
	padding: 0.95em 0 0.95em 0
.cheese-text-none
	font-family: 'Tahoma'
    font-size: 1.15em
    font-weight: normal
    line-height: 1.2
    letter-spacing: 1
.minySize
	text-align: center

